services:
  database:
    image: postgres:15
    container_name: postgres_db
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 1s
      timeout: 5s
      retries: 10
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypass
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  tatsu:
    build: .
    container_name: tatsu_app
    restart: always
    ports:
      - "9701:3000"
    env_file:
      - .env
    command: sh -c "npx prisma migrate deploy && npm run start"
    depends_on:
      database:
        condition: service_healthy

volumes:
  postgres_data: